body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
.navbar{
  display: flex;
  font-size: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1%;
  margin-bottom: 2rem;
  justify-content: space-between;
}
.countries{
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;

}
.btns{
  width: 80%;
  margin: 0 auto;
}
.country{
  margin-bottom: .5rem;
  padding: 2%;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
button{
  margin: .2rem;
  padding: 1%;
}
.img-cont{
  width: 250px;
}
.img-cont img{
  width: 100%;
  object-fit: contain;
}
.title{
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 800;
}
.subtitle{
  font-size: 1.3rem;
}
.flex{
  display: flex;
  justify-content: space-between;
}
 span{
  margin-left: .5rem;
  color: rgb(82, 78, 78);
  font-size: 1.2rem;
}
.details-cont{
  padding: 2%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  align-items: center;
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}
.left {
  width: 48%;
}
.left img{
  width: 100%;
}
.right{
  width: 48%;
}
.heading{
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 2rem;
}
.search-box{
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
input {
  width: 70%;
  height: 30px;
  border-radius: 8px;
}
select{
  width: 25%;
  font-size: 1.5rem;
}
.country:hover{
  transform: scale(1.08);
  opacity: 1;
}